/**
 * Custom theme for Sfeir
 * theme for reveal.js.
 *
 * Author : Vandendaele Alexis - vandendaele.a@sfeir.lu
 * Feb 2014
*/
// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";

// ---------------------------------------------

$sfeirOrange: #e94e00;
$sfeirBlack: #000000;
$sfeirWhite: #ffffff;

// Background of the presentation
$backgroundColor: $sfeirWhite;

// Primary/body text
$mainFont: "Lucida Console", Monaco, monospace;
// Sfeir font is Adale Mono Regular but it's rights protected
$mainColor: $sfeirBlack;

// Headings
$headingFont: $mainFont;
$headingColor: $sfeirOrange;

// Links and actions
$linkColor: lighten($sfeirOrange, 20%);
$linkColorHover: $sfeirOrange;

// Text selection
$selectionBackgroundColor: $sfeirBlack;
$selectionColor: $sfeirWhite;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
  background: $backgroundColor;
  background: url('../../../images/logo_sfeir.png') 20px 98% no-repeat;
  background-size: auto 4%;
}

.reveal {
  h1 {
    font-size: 2.7em;
  }

  h2 {
    font-size: 2.0em;
    word-spacing: -0.2em;
  }
  h3 {
    font-size: 1.3em;
    word-spacing: -0.2em;
  }

  h2, h3, h4, h5 {
    color: $sfeirBlack !important;
    text-transform: none !important;
  }

  section.align-left > p {
    text-align: left;
  }

  li > ul > li {
    font-size: 0.75em;
    line-height: 1.2em;
  }

  h1, h2, h3, h4, h5, li, p {
    code {
      color: $linkColor;
      text-shadow: none;
    }
  }

  .sub {
    color: lighten($sfeirBlack, 40%) !important;
    font-style: italic;
    text-shadow: none;
  }

  // Increase padding for code blocs
  pre {
    code {
      padding: 10px;
    }
  }

  em {
    color: $linkColor;
    font-style: normal;
  }

  .no-frame {
    border: none !important;
    box-shadow: none;
  }

  // Special for scala-prez
  .norvig {
    @extend .stretch !optional;
    font-size: .8em !important;
    width: 100%;

    td:not(:first-child) {
      text-align: right;
    }

    tr.highlight {
      color: $linkColor;
    }

    caption {
      @extend .note;
      caption-side: bottom;
    }
  }

  .note {
    font-size: small;
  }
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

